.profile-pic {
  float: right;
  width: 150px;        
  height: auto;
  display: block;       /* 이미지를 블록 요소로 지정해 레이아웃 꼬임 방지 */
  margin-left: 20px;    /* 왼쪽 글자와의 간격 */
  margin-bottom: 15px;  /* 아래쪽 글자와의 간격 */

  @include media-query($on-mobile) {
    float: none;
    margin-bottom: 20px;
    margin-left: 0px;
    width: 100%;        /* 모바일에서는 화면 너비에 맞춤 (선택) */
    max-width: 200px;   /* 모바일에서 너무 커지는 것 방지 */
  }
}

.footer-col {
  font-size: 12px;

  h4 {
    margin-bottom: 0;
    margin-top: 0;
    line-height: 30px;
  }

  .social-links {
    display: flex;
    flex-wrap: wrap;

    .social-link {
      display: flex;
      width: 100%;
      align-items: flex-start;
      line-height: 16px;
      margin-top: 6.5px;
      margin-bottom: 10px;

      img {
        width: 16px;
        height: 16px;
      }

      a {
        margin-left: 6px;
        word-break: break-all;
      }
    }

    @include media-query($on-mobile) {
      font-size: 14px;
      line-height: 38px;
    }
  }
}

#wechat-widget {
  display: none;
  position: absolute;
  background: #fff;
  border: #ddd 1px solid;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);

  padding: 24px;
  text-align: center;

  p {
    font-size: 11px;
    line-height: 16px;
    font-family: Helvetica, sans-serif;
    width: 170px;
    margin: 0 auto;
    margin-bottom: 14px;
  }

  #qr-code {
    width: 160px;
    height: 160px;
    border: none;
  }
}
